DATAFRAMES

In [30]:
import numpy as np
import pandas as pd

In [31]:
data = np.random.randn(5,3)

In [32]:
data

array([[-0.6418069 ,  0.81857584, -0.97971445],
       [ 0.70964256, -0.32706501,  0.45966591],
       [-0.44807015,  0.09744396,  0.87396589],
       [-0.36483621, -0.83894994,  0.68047738],
       [-0.42893393, -0.64041267, -0.18274047]])

In [33]:
pd.DataFrame(data)

          0         1         2
0 -0.641807  0.818576 -0.979714
1  0.709643 -0.327065  0.459666
2 -0.448070  0.097444  0.873966
3 -0.364836 -0.838950  0.680477
4 -0.428934 -0.640413 -0.182740

In [34]:
pd.DataFrame(data, columns = ['a','b','c'])

          a         b         c
0 -0.641807  0.818576 -0.979714
1  0.709643 -0.327065  0.459666
2 -0.448070  0.097444  0.873966
3 -0.364836 -0.838950  0.680477
4 -0.428934 -0.640413 -0.182740

In [37]:
pd.read_csv("adult.data.csv", header = None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,39,2174,0,Bachelors,13,77516,40,Never-married,United-States,Adm-clerical,White,Not-in-family,Male,State-gov,0
1,2,50,0,0,Bachelors,13,83311,13,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-not-inc,0
2,3,38,0,0,HS-grad,9,215646,40,Divorced,United-States,Handlers-cleaners,White,Not-in-family,Male,Private,0
3,4,53,0,0,11th,7,234721,40,Married-civ-spouse,United-States,Handlers-cleaners,Black,Husband,Male,Private,0
4,5,28,0,0,Bachelors,13,338409,40,Married-civ-spouse,Cuba,Prof-specialty,Black,Wife,Female,Private,0
5,6,37,0,0,Masters,14,284582,40,Married-civ-spouse,United-States,Exec-managerial,White,Wife,Female,Private,0
6,7,49,0,0,9th,5,160187,16,Married-spouse-absent,Jamaica,Other-service,Black,Not-in-family,Female,Private,0
7,8,52,0,0,HS-grad,9,209642,45,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-not-inc,1
8,9,31,14084,0,Masters,14,45781,50,Never-married,United-States,Prof-specialty,White,Not-in-family,Female,Private,1
9,10,42,5178,0,Bachelors,13,159449,40,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Private,1
10,11,37,0,0,Some-college,10,280464,80,Married-civ-spouse,United-States,Exec-managerial,Black,Husband,Male,Private,1
11,12,30,0,0,Bachelors,13,141297,40,Married-civ-spouse,India,Prof-specialty,Asian-Pac-Islander,Husband,Male,State-gov,1
12,13,23,0,0,Bachelors,13,122272,30,Never-married,United-States,Adm-clerical,White,Own-child,Female,Private,0
13,14,32,0,0,Assoc-acdm,12,205019,50,Never-married,United-States,Sales,Black,Not-in-family,Male,Private,0
14,15,40,0,0,Assoc-voc,11,121772,40,Married-civ-spouse,United-States,Craft-repair,Asian-Pac-Islander,Husband,Male,Private,1
15,16,34,0,0,7th-8th,4,245487,45,Married-civ-spouse,Mexico,Transport-moving,Amer-Indian-Eskimo,Husband,Male,Private,0
16,17,25,0,0,HS-grad,9,176756,35,Never-married,United-States,Farming-fishing,White,Own-child,Male,Self-emp-not-inc,0
17,18,32,0,0,HS-grad,9,186824,40,Never-married,United-States,Machine-op-inspct,White,Unmarried,Male,Private,0
18,19,38,0,0,11th,7,28887,50,Married-civ-spouse,United-States,Sales,White,Husband,Male,Private,0
19,20,43,0,0,Masters,14,292175,45,Divorced,United-States,Exec-managerial,White,Unmarried,Female,Self-emp-not-inc,1
20,21,40,0,0,Doctorate,16,193524,60,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,1
21,22,54,0,0,HS-grad,9,302146,20,Separated,United-States,Other-service,Black,Unmarried,Female,Private,0
22,23,35,0,0,9th,5,76845,40,Married-civ-spouse,United-States,Farming-fishing,Black,Husband,Male,Federal-gov,0
23,24,43,0,2042,11th,7,117037,40,Married-civ-spouse,United-States,Transport-moving,White,Husband,Male,Private,0
24,25,59,0,0,HS-grad,9,109015,40,Divorced,United-States,Tech-support,White,Unmarried,Female,Private,0
25,26,56,0,0,Bachelors,13,216851,40,Married-civ-spouse,United-States,Tech-support,White,Husband,Male,Local-gov,1
26,27,19,0,0,HS-grad,9,168294,40,Never-married,United-States,Craft-repair,White,Own-child,Male,Private,0
27,28,54,0,0,Some-college,10,180211,60,Married-civ-spouse,South,Prof-specialty,Asian-Pac-Islander,Husband,Male,Private,1
28,29,39,0,0,HS-grad,9,367260,80,Divorced,United-States,Exec-managerial,White,Not-in-family,Male,Private,0
29,30,49,0,0,HS-grad,9,193366,40,Married-civ-spouse,United-States,Craft-repair,White,Husband,Male,Private,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,48813,81,2936,0,Assoc-voc,11,26711,20,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,0
48813,48814,60,7688,0,Assoc-voc,11,117909,40,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,1
48814,48815,39,0,1669,Bachelors,13,229647,40,Never-married,United-States,Tech-support,White,Not-in-family,Female,Private,0
48815,48816,38,0,0,Masters,14,149347,50,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,1
48816,48817,43,0,1902,Masters,14,23157,50,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Local-gov,1
48817,48818,23,0,0,HS-grad,9,93977,40,Never-married,United-States,Machine-op-inspct,White,Own-child,Male,Private,0
48818,48819,73,0,0,Some-college,10,159691,40,Divorced,United-States,Exec-managerial,White,Not-in-family,Female,Self-emp-inc,0
48819,48820,35,0,0,Some-college,10,176967,40,Married-civ-spouse,United-States,Protective-serv,White,Husband,Male,Private,0
48820,48821,66,0,0,HS-grad,9,344436,8,Widowed,United-States,Sales,White,Other-relative,Female,Private,0
48821,48822,27,0,0,Some-college,10,430340,45,Never-married,United-States,Sales,White,Not-in-family,Female,Private,0
48822,48823,40,15024,0,Prof-school,15,202168,55,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,1
48823,48824,51,0,0,HS-grad,9,82720,40,Married-civ-spouse,United-States,Craft-repair,White,Husband,Male,Private,0
48824,48825,22,0,0,Some-college,10,269623,40,Never-married,United-States,Craft-repair,White,Own-child,Male,Private,0
48825,48826,64,0,0,HS-grad,9,136405,32,Widowed,United-States,Farming-fishing,White,Not-in-family,Male,Self-emp-not-inc,0
48826,48827,50,0,0,Masters,14,139347,40,Married-civ-spouse,United-States,Prof-specialty,White,Wife,Female,Local-gov,1
48827,48828,55,0,0,HS-grad,9,224655,32,Separated,United-States,Priv-house-serv,White,Not-in-family,Female,Private,0
48828,48829,38,0,0,Assoc-voc,11,247547,40,Never-married,United-States,Adm-clerical,Black,Unmarried,Female,Private,0
48829,48830,58,0,0,Assoc-acdm,12,292710,36,Divorced,United-States,Prof-specialty,White,Not-in-family,Male,Private,0
48830,48831,32,0,0,HS-grad,9,173449,40,Married-civ-spouse,United-States,Handlers-cleaners,White,Husband,Male,Private,0
48831,48832,48,0,0,HS-grad,9,285570,40,Married-civ-spouse,United-States,Adm-clerical,White,Husband,Male,Private,0
48832,48833,61,0,0,HS-grad,9,89686,48,Married-civ-spouse,United-States,Sales,White,Husband,Male,Private,0
48833,48834,31,0,0,HS-grad,9,440129,40,Married-civ-spouse,United-States,Craft-repair,White,Husband,Male,Private,0
48834,48835,25,0,0,HS-grad,9,350977,40,Never-married,United-States,Other-service,White,Own-child,Female,Private,0
48835,48836,48,0,0,Masters,14,349230,40,Divorced,United-States,Other-service,White,Not-in-family,Male,Local-gov,0
48836,48837,33,0,0,Bachelors,13,245211,40,Never-married,United-States,Prof-specialty,White,Own-child,Male,Private,0
48837,48838,39,0,0,Bachelors,13,215419,36,Divorced,United-States,Prof-specialty,White,Not-in-family,Female,Private,0
48838,48839,64,0,0,HS-grad,9,321403,40,Widowed,United-States,Prof-specialty,Black,Other-relative,Male,Private,0
48839,48840,38,0,0,Bachelors,13,374983,50,Married-civ-spouse,United-States,Prof-specialty,White,Husband,Male,Private,0
48840,48841,44,5455,0,Bachelors,13,83891,40,Divorced,United-States,Adm-clerical,Asian-Pac-Islander,Own-child,Male,Private,0
48841,48842,35,0,0,Bachelors,13,182148,60,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-inc,1